<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86"/>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="UniversalTimeSpan" value="RCI0BQFTPIDVBFEBFBFF000806E9BISTINVALID" />
    <add key="LICENTA" value="68C5-5K40-F71T-79C3-5C71-Q64I" />
    <add key="SQLConnection" value="Data Source=localhost\SQLEXPRESS;Initial Catalog=iStomaLTD;uid=sa;password=123456;" />
    <add key="AdresaSalvareDocumente" value="C:\01 - WORK\02 - DE TRIAT\Publish\iStomaLTD\DocumenteIStoma" />
    <add key="AdresaDirectorTemporar" value="C:\01 - WORK\02 - DE TRIAT\Publish\iStomaLTD\Temp" />
    <add key="AdresaDirectorBackup" value="" />
    <add key="CursBNR" value="4,86" />
    <add key="UUC" value="" />
    <add key="BCPRINTER" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ValidareStatieDeLucruSoap" closeTimeout="00:59:00" openTimeout="00:59:00" sendTimeout="00:59:00"/>
        <binding name="ActualizariSoap" closeTimeout="00:59:00" openTimeout="00:59:00" sendTimeout="00:59:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
        </binding>
        <binding name="VerificareSoap" closeTimeout="00:59:00" openTimeout="00:59:00" sendTimeout="00:59:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
        </binding>
        <binding name="FunctionalitatiSoap" closeTimeout="00:59:00" openTimeout="00:59:00" sendTimeout="00:59:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://licente.istoma.ro/ValidareStatieDeLucru.asmx" binding="basicHttpBinding" bindingConfiguration="ValidareStatieDeLucruSoap" contract="iStatie.ValidareStatieDeLucruSoap" name="ValidareStatieDeLucruSoap"/>
      <endpoint address="http://licente.istoma.ro/Actualizari.asmx" binding="basicHttpBinding" bindingConfiguration="ActualizariSoap" contract="Actualizari.ActualizariSoap" name="ActualizariSoap"/>
      <endpoint address="http://licente.istoma.ro/Verificare.asmx" binding="basicHttpBinding" bindingConfiguration="VerificareSoap" contract="iStoma.VerificareSoap" name="VerificareSoap"/>
      <endpoint address="http://licente.istoma.ro/Functionalitati.asmx" binding="basicHttpBinding" bindingConfiguration="FunctionalitatiSoap" contract="iFunctionalitati.FunctionalitatiSoap" name="FunctionalitatiSoap"/>
    </client>
  </system.serviceModel>
</configuration>
