<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    
    <add key="LICENTA" value="68C5-5K40-F71T-79C3-5C71-Q64I"/>
    <add key="SQLConnection" value="Data Source=localhost\SQLEXPRESS;Initial Catalog=iStomaLTD;uid=sa;password=123456;"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ActualizariSoap" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:59:00" openTimeout="00:59:00" sendTimeout="00:59:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
        </binding>
        <binding name="VerificareSoap" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:59:00" openTimeout="00:59:00" sendTimeout="00:59:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://licente.istoma.ro/Actualizari.asmx" binding="basicHttpBinding" bindingConfiguration="ActualizariSoap" contract="Actualizari.ActualizariSoap" name="ActualizariSoap"/>
      <endpoint address="http://licente.istoma.ro/Verificare.asmx" binding="basicHttpBinding" bindingConfiguration="VerificareSoap" contract="iStoma.VerificareSoap" name="VerificareSoap"/>
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
